@model GAMES.Models.GamesInstance

@{
    ViewData["Title"] = "CreateGamesInstance";
}

<h2>CreateGamesInstance</h2>

<h4>GamesInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGamesInstance">
            <input asp-for="GamesInstanceId" type="hidden" />
            <div class="form-group">
                <label asp-for="PersonTeamSize" class="control-label"></label>
                <input asp-for="PersonTeamSize" class="form-control" />
                <span asp-validation-for="PersonTeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tagline" class="control-label"></label>
                <input asp-for="Tagline" class="form-control" />
                <span asp-validation-for="Tagline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

