@model GAMES.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rules" class="control-label"></label>
                <input asp-for="Rules" class="form-control" />
                <span asp-validation-for="Rules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsTeamScore" /> @Html.DisplayNameFor(model => model.IsTeamScore)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameType" class="control-label"></label>
                <select asp-for="GameType" class="form-control"></select>
                <span asp-validation-for="GameType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameScoreOrder" class="control-label"></label>
                <select asp-for="GameScoreOrder" class="form-control"></select>
                <span asp-validation-for="GameScoreOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
